@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

.product-card-title {
  font-size: 24px;
  font-weight: bold; /* Equivalent to 'font-semibold' */
  color: #2d3748; /* Equivalent to 'text-gray-800' */
  white-space: nowrap; /* Equivalent to 'truncate' */
  overflow: hidden; /* Truncate long text */
  text-overflow: ellipsis; /* Display '...' for truncated text */
  text-align: left; /* Equivalent to 'text-left' */
  padding: 16px 8px 0px 0px;
}

.product-card-description {
  font-size: 16px;
  font-weight: 300; /* Equivalent to 'font-semibold' */
  color: #626262; /* Equivalent to 'text-gray-800' */
  white-space: nowrap; /* Equivalent to 'truncate' */
  overflow: hidden; /* Truncate long text */
  text-overflow: ellipsis; /* Display '...' for truncated text */
  padding: 8px 14px 0px 0px;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-top: 8px; /* Equivalent to 'mt-2' */
}
